@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body {
  background:none repeat scroll 0 0 #f7f5ee;
  color: #333333;
  font-family: arial,tahoma,verdana,sans-serif;
  font-size: 13px;
  min-width: 978px;
  overflow-y: auto;
  position: static;
  text-align: left;
  width: 100%;
}
a {
    font-style: normal;
    text-decoration: none;
	color:#666;
	/*transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;*/
}
a:hover{
	text-decoration:none;	
	color:#666;
}

ul {
    list-style: none outside none;
	float: left;
	width: 100%;
	margin:0;
}
 ul li{
	display:inline-block;
 }
img{
	max-width:100%;	
}
h1, h2 {
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}
a.btn {
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #555555;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 8px;
  text-decoration: none;
  width: 170px;
}
a.btn:hover {
  background-color: #555555;
  border: 1px solid #555555;
  color: #ffffff;
}
.popoverlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.popup {
  background: linear-gradient(#fadfdf, #fa8686) #fadfdf;
  background: -webkit-linear-gradient(#fadfdf, #fa8686);
  background: -moz-linear-gradient(#fadfdf, #fa8686);
  background: -ms-linear-gradient(#fadfdf, #fa8686);
  box-shadow: -2px 0 5px 6px #505050;
  -webkit-box-shadow: -2px 0 5px 6px #505050;
  -moz-box-shadow: -2px 0 5px 6px #505050;
  -ms-box-shadow: -2px 0 5px 6px #505050;
  padding: 20px 20px 40px;
  text-align: center;
  top: 45%;
}
.popup > h2 {
  font-size: 28px;
  margin: 10px 0;
}
.header {
  background: none repeat scroll 0 0 #005387;
}
.header .container{
	position:relative;
}
.logo {
  margin: 5px 0 0;
  float:left;
}
.logo > h3 {
  color: #fdd922;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2px 0 10px;
}
.header-menu li {
  display: inline-block;
}
.header-menu li a {
  border-right: 1px solid;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 12px;
  line-height: 23px;
  padding: 0 10px;
  text-transform: capitalize;
}
.flipkart-first {
  background: url("../images/new-vd-sprite.png") no-repeat scroll -3px -804px;
  padding-left: 30px !important;
}
.download-app{
	background:url("../images/new-vd-sprite.png") no-repeat scroll -3px -772px;
	margin-left: 3px;
    padding-left: 25px !important;
	
}
.track-order{
	background:url("../images/ssa-sprite.png") no-repeat scroll 0 100%;
	padding-left: 15px !important;
}
.notifications{
	background:url("../images/new-header-sprite.png") no-repeat scroll -157px -83px;
}
.srch-input input {
  border: medium none;
  border-radius: 2px 0 0 2px;
  padding: 8px 10px 7px 25px;
  width: 100%;
}
.srch-btn, .srch-input {
  padding: 0;
  position:relative;
}
.srch-input > span {
  background: url("../images/new-vd-sprite.png") no-repeat scroll 0 -202px #ffffff;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 19px;
}
.srch-btn a {
  background: none repeat scroll 0 0 #fdd922;
  border: 1px solid #e0bc27;
  border-radius: 0 2px 2px 0;
  color: #00112b;
  display: inline-block;
  height: 34px;
  line-height: 17px;
  padding: 9px 0;
  text-align: center;
  width: 100%;
}
.cart {
  background: linear-gradient(to bottom, #007fb8 1%, #6ebad5 3%, #007fb8 7%, #007fb8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #004b91;
  height: 34px;
  text-align: center;
}
.cart a {
  color: #ffffff;
  display: inline-block;
  padding: 4px 0;
  text-transform:uppercase;
}
.cart-logo {
  background-image: url("../images/new-vd-sprite.png");
  background-position: 0 -87px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  width: 24px;
}
.cart-no {
  background-color: #ffffff;
  border-radius: 50px;
  color: #007fb8;
  display: inline-block;
  height: 18px;
  line-height: 15px;
  padding: 2px;
  vertical-align: middle;
  width: 17px;
}
.cart-label {
  color: #f9f9f9;
  margin-left: 5px;
  vertical-align: middle;
}
.nav {
  background-color: #0a3151;
}

.fix-nav {
    opacity:0;
    transition:all 0.5s ease-out 0s;
}
.fix-header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  
}
.main-menu {
  margin: 0;
  position:relative;
}
.main-menu li {
  color: #ffffff;
  display: inline-block;
  padding: 10px 30px;
}
.main-menu li:hover {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 3px 3px 0 0;
  color: #565656;
}
.sub-main-menu {
  background: none repeat scroll 0 0 #c0c0c0;
  left: 0;
  position: absolute;
  right: 0;
  top: 39px;
  width: 100%;
  z-index: 100;
  color:#000;
  display:none;
}
.main-menu li:hover .sub-main-menu {
  display: block;
}
.sort-menu > h3 {
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 10px 20px;
}
.sort-menu > ul {
  width: auto;
}
.sort-menu {
  background: none repeat scroll 0 0 #ffffff;
  border-bottom: 1px solid #cccccc;
  float: left;
  width: 100%;
}
.sub-main-menu li , .sub-main-menu li  a{
  color: #000;
}
.sub-main-menu li:hover , .sub-main-menu li  a:hover{
  font-weight: bold;
}
.sort-menu li {
  padding: 8px 10px;
}
.sorted-menu {
  float: left;
  min-height: 300px;
  padding: 20px 0;
  width: 20%;
}
.sorted-menu li:first-child {
  font-weight: bold;
  padding:6px 20px;
}
.sort-menu li.sort-menu-active:after {
  border-bottom: 10px solid #cccccc;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  bottom: -2px;
  content: "";
  left: 46%;
  position: absolute;
}
.sorted-menu li{
	padding:6px 30px;
	position:relative;
}
.sorted-menu.odd {
  background: none repeat scroll 0 0 #fbfbfb;
}
.sorted-menu.even {
  background: none repeat scroll 0 0 #ffffff;
}
.fast-menu {
  float: left;
  width: 100%;
}
.fast-menu ul {
  background: none repeat scroll 0 0 #ffffff;
}
.fast-menu ul li {
  color: #848484;
  display: inline-block;
}
.fast-menu ul li a {
  border-left: 1px solid #e8e8e8;
  color: #848484;
  display: inline-block;
  line-height: 1;
  margin: 10px 0;
  padding: 0 10px;
}
.fast-menu-head {
  padding: 0 10px;
}
.fast-menu ul li.fast-menu-head::after {
  background: url("../images/new-header-sprite.png") no-repeat scroll -102px -60px;
  content: "";
  display: inline-block;
  height: 9px;
  margin-left: 8px;
  width: 12px;
}
.main-body {
  padding: 0;
}
.news-new{
	margin:10px 0;
}
.news-new img {
  width: 100%;
}
.news-slider-images li {
  display: none;
}
.news-slider-images li.tab-img {
  display: block;
}
.news-slider-tab {
  background: none repeat scroll 0 0 #333333;
  height: 52px;
}
.news-slider-tab li {
  display: inline-block;
  float: left;
  width: 20%;
}	
.frst-line {
  display: block;
  font-weight: bold;
  padding: 8px 0 0;
}
.news-slider-tab a {
  background: linear-gradient(to bottom, #505050, #424242) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-left: 2px solid #333333;
  border-right: 1px solid #333333;
  color: #ffffff;
  display: block;
  height: 48px;
  margin-top: 2px;
  text-align: center;
  text-shadow: -1px -1px 1px #333333;
  width: 100%;
  font-size:11px;
}
.news-slider-images img {
  width: 100%;
}
.news-slider-tab .tab-selected a
 {
  background: none repeat scroll 0 0 #ffffff;
  border-bottom: 3px solid #fdd922;
  border-left: 0 none;
  border-right: 0 none;
  color: #333333;
  height: 52px;
  margin: 0;
  text-shadow: 0 0;
}
.tab-selected{
	position:relative;
}
.tab-selected::after {
  border-bottom: 10px solid #fff;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  content: "";
  left: 45%;
  position: absolute;
  top: -9px;

}

.dod {
  margin-top: 20px;
}
.dod h2 {
  background: none repeat scroll 0 0 #3f3f3f;
  color: #ffffff;
  float: left;
  font-size: 16px;
  line-height: 48px;
  padding: 0 10px;
  width: 100%;
}
.dod ul {
  background: none repeat scroll 0 0 #ffffff;
  padding-top: 10px;
}
.dod h2 a{
	color:#fff;
}
.dod-cursive{
	background:url("../images/new-vd-sprite.png") no-repeat scroll -1px -996px;
	display:inline-block;
	position:relative;
	top:7px;
	height:24px;
	width:39px;
}
.dod-watch{
	background:url("../images/new-vd-sprite.png") no-repeat scroll -3px -1027px;
	display:inline-block;
	height: 20px;
    margin-right: 7px;
    position: relative;
    top: 6px;
    width: 20px;
}
.timer {
  color: #ffbb1f;
}
.dod li {
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  height:225px;
}
.dod li > a {
  color: #333333;
  display:inline-block;
   border: 2px solid transparent;
}
.dod a:hover {
  border: 2px solid #ffd926;
}
.dod-li {
  padding: 10px;
  width: 100%;
  text-align:center;
}
.arrow-span {
  display: inline-block;
  position: relative;
}
.arrow-span::after {
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-top: 6px solid;
  content: "";
  position: relative;
  right: -7px;
  top: 10px;
}
.dod-li h4 {
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  margin: 5px 0 0;
  overflow: hidden;
}
.dod-li > h3 {
  border-bottom: 2px solid;
  color: #db2b2b;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 23px;
  margin: 0 auto;
  text-transform: uppercase;
}
.dod-img {
  padding-top: 10px;
  height:110px;
}
.dod-img > img {
  max-height: 110px;
  max-width: 110px;
  vertical-align: middle;
}
.dod-prod {
  color: #777777;
  height: 30px;
  margin-top: 9px;
  overflow: hidden;
}
.bx-pager.bx-default-pager {
  display: none;
}
.kit-pro {
  float: left;
  position: relative;
  width: 100%;
}
.kitchen  > h2 {
  background: none repeat scroll 0 0 #3f3f3f;
  color: #ffffff;
  float: left;
  font-size: 16px;
  line-height: 48px;
  padding: 0 10px;
  width: 100%;
  text-transform:uppercase;
}
.kit-pro > ul > li {
  background: none repeat scroll 0 0 #ffffff;
  border-left: 1px solid #f4f0e4;
  box-shadow: 1px 0 0 0 #ffffff inset;
  -moz-box-shadow: 1px 0 0 0 #ffffff inset;
  -webkit-box-shadow: 1px 0 0 0 #ffffff inset;
  -ms-box-shadow: 1px 0 0 0 #ffffff inset;
  display: inline-block;
  float: left;
  padding: 10px;
  text-align: center;
  width: 33.3%;
}
.kit-pro > ul > li:hover{
	background:#fdfbdf;
}
.kit-pro > ul > li:hover .sub-kit{
	display:block;
}

.kit-pro > ul.sub-kit > li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding:0;
}
.sub-kit > li{
  float: left;
  width: 16.6%;
  padding:10px;
  border-left: 1px solid #ede8d9;
   box-shadow: 1px 0 0 0 #ffffff inset;
  -moz-box-shadow: 1px 0 0 0 #ffffff inset;
  -webkit-box-shadow: 1px 0 0 0 #ffffff inset;
  -ms-box-shadow: 1px 0 0 0 #ffffff inset;
}
.sub-kit > li:hover{
	background:#fff;
}
.sub-kit {
  background-color: #fdfbdf;
  display: none;
  float: left;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index:100;
}
.sub-kit h2 {
  border-bottom: 1px solid #ede8d9;
   box-shadow: 1px 0 0 0 #ffffff inset;
  -moz-box-shadow: 1px 0 0 0 #ffffff inset;
  -webkit-box-shadow: 1px 0 0 0 #ffffff inset;
  -ms-box-shadow: 1px 0 0 0 #ffffff inset;
  height: 60px;
  line-height: 60px;
}
.sub-kit > li span {
  display: block;
  margin:7px 0;
  position:relative;
}

.sub-kit > li span:after {
  border-bottom: 6px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-top: 6px solid;
  content: "";
  display: inline-block;
  height: 0;
  position: relative;
  right: -4px;
  top: 5px;
  width: 0;
}

.sub-kit a {
  color: #666666;
}
.kitchen-rel {
  margin: 5px 0;
  overflow:hidden;
}
.kitchen-rel > div {
  padding: 5px;
}
.kitchen-rel div a img {
  height: 250px;
  width: 100%;
  border:2px solid transparent;
}
.kitchen-rel div a img:hover {
	border:2px solid #ffd926
}
.kitchen-rel div a img::before {
  box-shadow: 0 0 80px 5px #ffffff;
  content: "";
  display: block;
  position: relative;
  top: -42px;
  transition: top 900ms linear 0s;
  width: 100%;
  z-index: 2;
}
.kitchen-rel div a img:hover::before {
  top: 300px;
}
.bst-sell-title > a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}
.bst-sell-title {
  background: none repeat scroll 0 0 #ffffff;
  margin-bottom: -2px;
  position: relative;
  z-index: 10;
}
.bst-sell-title > a {
  border-bottom: 2px solid #ffd926;
  border-right: 1px solid #f4f0e4;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  position:relative;
  color:#666;
}
.bst-sell-title > a:after {
  border-bottom: 7px solid #ffd926;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  bottom: -1px;
  content: "";
  left: 50%;
  position: absolute;
}
.bst-sell li > a {
  border: 2px solid rgba(0, 0, 0, 0);
  display: inline-block;
}	
.bst-sell li > a:hover {
  border: 2px solid #ffd926;
}
.dod-prod-det {
  border-bottom: 1px solid #bbbbbb;
  color: #777777;
  margin: 9px 0;
  overflow: hidden;
  padding-bottom: 5px;
}
.dod-prod-price {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
.kitchen > h2 > span {
  color: #cccccc;
  float: right;
  font-size: 13px;
  text-transform: capitalize;
}
.ele-pro {
  text-align: center;
}
.ele-pro li {
  border-left: 1px solid #f4f0e4;
}
.right-arrow {
  display: inline-block;
  padding: 5px;
  position: relative;
  width:100%;
  border-bottom:3px solid transparent;
}
.right-arrow::after {
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #333333;
  content: "";
  position: relative;
  right: -5px;
  top: 11px;
}
.right-arrow:hover{
	border-bottom:3px solid #FDD922;
}
.righta-side .dir-link {
  margin: 5px 0;
  padding: 0;
}
.dir-link img {
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px 0 #bbbbbb;
  width: 100%;
}
.dir-link img:hover{
	border:2px solid #FDD922;
}
 .just-launch ul li a:hover{
	border:1px solid #FDD922;
 }
.just-launch {
  background: none repeat scroll 0 0 #ffffff;
  float: left;
  width: 100%;
   box-shadow: 0 1px 2px 0 #bbbbbb;
   -wbkit-box-shadow: 0 1px 2px 0 #bbbbbb;
   -moz-box-shadow: 0 1px 2px 0 #bbbbbb;
   -ms-box-shadow: 0 1px 2px 0 #bbbbbb;
   margin:10px 0;
}
.just-launch > h2 {
  padding: 8px 0;
}
.just-launch > h2 span {
  background: none repeat scroll 0 0 #0c375b;
  border-left: 4px solid #f6cc00;
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  padding: 5px 25px 5px 10px;
  position:relative;
}
.just-launch ul li {
	display:block;
}
.just-launch ul li a {
  border-top: 1px solid #e4e4e4;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.just-launch li a > span {
  display: inline-block;
  padding-right: 10px;
}
.e-book {
  background: none repeat scroll 0 0 #ffffff;
  float: left;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 1px 2px 0 #bbbbbb;
   -wbkit-box-shadow: 0 1px 2px 0 #bbbbbb;
   -moz-box-shadow: 0 1px 2px 0 #bbbbbb;
   -ms-box-shadow: 0 1px 2px 0 #bbbbbb;
}
.e-gift {
  background: none repeat scroll 0 0 #ffffff;
  float: left;
  margin: 10px 0;
  padding: 20px 10px;
  width: 100%;
  box-shadow: 0 1px 2px 0 #bbbbbb;
   -wbkit-box-shadow: 0 1px 2px 0 #bbbbbb;
   -moz-box-shadow: 0 1px 2px 0 #bbbbbb;
   -ms-box-shadow: 0 1px 2px 0 #bbbbbb;
}
.e-gift > a {
  background: linear-gradient(to bottom, #f77219 1%, #fec6a7 3%, #f77219 7%, #f75b16 100%) repeat scroll 0 0 #f77219;
  background: -webkit-linear-gradient(to bottom, #f77219 1%, #fec6a7 3%, #f77219 7%, #f75b16 100%);
  background: -moz-linear-gradient(to bottom, #f77219 1%, #fec6a7 3%, #f77219 7%, #f75b16 100%);
  background: -ms-linear-gradient(to bottom, #f77219 1%, #fec6a7 3%, #f77219 7%, #f75b16 100%);
  border: 1px solid #ec6723;
  border-radius: 4px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  margin-bottom:15px;
}
.footer2{
	text-align:center;
	padding-bottom:20px;
	
}
.footer2 > h3 {
  background: none repeat scroll 0 0 #555555;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 0;
  margin:5px 0;
}
.footer2 > p {
  color: #800000;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.footer2 span {
  font-style: italic;
}
@media screen and (max-width:920px){

}
@media screen and (max-width:767px){

}
@media screen and (max-width:479px){

}